section {
  a {
    display: block;
    margin-bottom: 1.4rem;
    md-card {
      display: flex;
      align-items: center;

      &:hover{
        background-color: #F5F5F5;
      }

      img {
        width: 4rem;
        height: auto;
        margin-right: 1.4rem;
      }
    }
  }
}
